<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.songm.yix.dao.impl.PredictDaoImpl">
    <resultMap id="BaseResultMap" type="cn.songm.yix.entity.Predict">
        <id column="pre_id" property="preId" jdbcType="BIGINT" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="updated" property="updated" jdbcType="TIMESTAMP" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="matter" property="matter" jdbcType="VARCHAR" />
        <result column="time" property="time" jdbcType="TIMESTAMP" />
        <result column="num1" property="num1" jdbcType="INTEGER" />
        <result column="num2" property="num2" jdbcType="INTEGER" />
        <result column="num3" property="num3" jdbcType="INTEGER" />
    </resultMap>

    <sql id="table_name"> yix_predict </sql>

    <sql id="Base_Column_List">
        version, created, updated, remark, pre_id, matter, time, num1, num2, num3
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
        parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from
        <include refid="table_name" />
        where pre_id = #{id, jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from
        <include refid="table_name" />
        where pre_id = #{id, jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="cn.songm.yix.entity.Predict">
        insert into
        <include refid="table_name" />
       (<include refid="Base_Column_List" />)
        values
       (#{version, jdbcType=INTEGER},
        #{created, jdbcType=TIMESTAMP},
        #{updated, jdbcType=TIMESTAMP},
        #{remark, jdbcType=VARCHAR},
        #{preId, jdbcType=BIGINT},
        #{matter, jdbcType=VARCHAR},
        #{time, jdbcType=TIMESTAMP},
        #{num1, jdbcType=INTEGER},
        #{num2, jdbcType=INTEGER},
        #{num3, jdbcType=INTEGER})
    </insert>

    <update id="updateByPrimaryKey" parameterType="cn.songm.yix.entity.Predict">
        update
        <include refid="table_name" />
        set updated = #{updated,jdbcType=TIMESTAMP}, version = version + 1
        <if test="remark != null">, remark = #{remark, jdbcType=VARCHAR}</if>
        
        where pre_id = #{preId, jdbcType=BIGINT}
    </update>
    
    <!-- 根据搜索条件获取数据 -->
    <sql id="condition_sql">
        <!-- Equal query -->
        <if
            test="beginDate != null and endDate != null and endDate !='' and beginDate != ''">
            and created between #{beginDate} and CONCAT(#{endDate},'23:59:59')
        </if>
        <if test="preId != null"> and pre_id = #{preId,jdcbType=BIGINT}</if>
        <!-- 是否行锁，要放在查询条件最后 -->
        <if test="isPessimist != null and isPessimist == true "> for update</if>
    </sql>

    <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from
        <include refid="table_name" />
        <where>
            <include refid="condition_sql" />
        </where>
        order by created desc
    </select>
    
    <select id="listByColumn" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from
        <include refid="table_name" />
        <where>
            <include refid="condition_sql" />
        </where>
        order by created desc
    </select>
    
    <select id="countByColumn" parameterType="java.util.Map" resultType="java.lang.Long">
        select count(1) from
        <include refid="table_name" />
        <where>
            <include refid="condition_sql" />
        </where>
    </select>

    <!-- 分页查询 -->
    <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from
        <include refid="table_name" />
        <where>
            <include refid="condition_sql" />
        </where>
        order by created desc limit #{pageFirst}, #{pageSize}
    </select>

    <!-- 分页查询时要用到的总数统计 -->
    <select id="listPageCount" parameterType="java.util.Map"
        resultType="java.lang.Long">
        select count(1) from
        <include refid="table_name" />
        <where>
            <include refid="condition_sql" />
        </where>
    </select>

    <select id="sequenceNext" resultType="java.lang.Long">
        select FUN_SEQ ('yix_predict_id_seq')
    </select>
</mapper>